In [17]:
import pandas as pd

df = pd.read_csv("data.csv", delimiter = ',', encoding= 'unicode_Escape') 

print(df)
#se crea el DataFreme para leer el archivo csv y se especifica que los campos estan delimitados por ","

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [18]:
df.info()
#nos muestra un resumen de la informacion que contiene el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [19]:
df = df.rename(columns={'Country' : 'cuidad' , 'CustomerID' : 'ID_cliente' , 'UnitPrice' : 'precio_unico' , 'InvoiceDate' : 'fecha_factura' , 'Quantity' : 'Cantidad' , 'Description' : 'Descripcion' , 'StockCode' : 'stock_codigo' , 'InvoiceNo' : 'numero_factura'})
#se renombran las columnas que vienen del archivo csv

In [20]:
df.head()
#nos muestra el encabezado del DataFrame

,numero_factura,stock_codigo,Descripcion,Cantidad,fecha_factura,precio_unico,ID_cliente,cuidad
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [21]:
df['ID_cliente'] = df ['ID_cliente'].astype(str)
#convierte la columna 'ID_cliente' del DataFrame en una (cadena de texto)

In [22]:

df.info()
#nos muestra un resumen de la informacion que contiene el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   numero_factura  541909 non-null  object
 1   stock_codigo    541909 non-null  object
 2   Descripcion     540455 non-null  object
 3   Cantidad        541909 non-null  int64
 4   fecha_factura   541909 non-null  object
 5   precio_unico    541909 non-null  float64
 6   ID_cliente      541909 non-null  object
 7   cuidad          541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [23]:
df.dropna(subset=['ID_cliente'], inplace=True) #drop borrar buscar en la columna un numero igual y lo que hace es borrarlo

In [24]:
def agregar_cero(x): #para agregar a la columna ID_cliente un cero a la izquierda, por si cree el id cliente
     if len(x) <=8:
          return  '0' + x
     else:
          return x

In [25]:
df['ID_cliente'] = df['ID_cliente'].apply(agregar_cero)
#aplicar un 0 en cada elemento de la columna  ID_cliente

In [26]:
df.head()
#nos muestra el encabezado del DataFrame

,numero_factura,stock_codigo,Descripcion,Cantidad,fecha_factura,precio_unico,ID_cliente,cuidad
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,017850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,017850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,017850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,017850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,017850.0,United Kingdom

In [27]:
df['segmentacion_cliente'] = df['stock_codigo'].apply(lambda x : 'VIP' if x.endswith('A') else  'PLATA' if x.endswith('B') else 'BASICO' if x.endswith('') else None)
#se crea una nueva columna 'segmentacion_cliente' y se aplica si el cliente es VIP, PLATA, BASICO O NONE

In [28]:
df['segmentacion_cliente'] = df['stock_codigo'].apply(lambda b : 'BASICO' if b.endswith('B') else None)
#en la columna 'segmentacion_cliente' se rellena con valores 'BASICO' si el valor en la columna 'stock_codigo' termina con la letra 'B'

In [29]:
df.head()
#nos muestra el encabezado del DataFrame

,numero_factura,stock_codigo,Descripcion,Cantidad,fecha_factura,precio_unico,ID_cliente,cuidad,segmentacion_cliente
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,017850.0,United Kingdom,None
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,017850.0,United Kingdom,None
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,017850.0,United Kingdom,BASICO
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,017850.0,United Kingdom,None
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,017850.0,United Kingdom,None

In [30]:
nombre_nuevo_archivo = 'datos_transformados.xlsx'
df.to_excel(nombre_nuevo_archivo,index=False)
#se guarda el DataFrame en un nuevo archivo excel llamado 'datos_transformados.xlsx'